body {
	background-color: black;
	font-family:sans-serif;
}

h1{
  color:grey;
  text-align:center;
}

.container {
	margin: 0 auto;
	max-width: 500px;
	background-color: white;
	padding: 20px;
  border-radius:15px;
}

ul {
	padding: 0;
} 

.flex-outer li,
.flex-inner {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.flex-outer>li>label,
.flex-outer li p {
	flex: 1 1 100px;
	max-width: 100px;
}

.flex-outer>li>label +*,
.flex-inner {
	flex: 1 0 220px;
}

.flex-outer li {
	padding: 10px;
}

.flex-outer li input,range,
.flex-outer li textarea,button {
	max-width: 300px;
  padding: 10px;
  border-radius:5px;
}

/*.flex-outer li button {
	flex: 1 1 100px;
	padding: 8px 16px;
	background-color: grey;
	color: #f2f2f2;
}*/

.flex-inner li {
	width: 100px;
}

.flex-inner {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

input,textarea {
/*	border: none;
	background: #f2f2f2;*/
  border-radius:5px;
}
.h {
  background-color: yellow;
}
